*{
    padding: 0%;
    margin: 0%;
}
header{
   height: 100px; width: 100%; background-image: linear-gradient(to right , black,red);
}
#logobox{
    width:20% ; height: 80%; float: left;; background-color: white;
}

h2{
    text-align: center; font-family: 'Anton', sans-serif; font-size: bold; margin-top: 15px;

}
nav{
    width: 70%; text-align:center;
}
nav a{
    text-decoration: none; color: white; font-family: 'Raleway', sans-serif; font-weight: bold; display: inline-block;
}
nav li{
    display: inline-block; line-height: 100px;  text-align: center; margin-top: auto; margin-bottom: auto; margin-right: auto; margin-left: auto;
}
nav a:hover{
    background-color: white; color: black; height: 100%; width: 100%; }
button{
    background-color: white; color: black; width: 130px;
}


main{
        display: block;
        margin-left: auto;
        margin-right: auto ;
        text-align: center;
}

  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

 